<div class="footer">
    <div class="pure-g">
        <div class="pure-u-1-24"></div>
        <div class="pure-u-4-24">
            <p>Menu</p>
            <ul>
                <li><a routerLink="/accueil">Accueil</a></li>
                <li><a routerLink="/le-sur-mesure">Le sur mesure</a></li>
                <li><a routerLink="/creations">Créations</a></li>
                <li><a routerLink="/a-propos">À propos</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="pure-u-1-24"></div>
        <div class="pure-u-4-24">
            <p>Ressources</p>
            <app-resources></app-resources>
        </div>
    </div>
    <div class="pure-g">
        <p class="footer-text">Fait avec ❤️ par Mathieu DEUMIÉ © 2024 Deum Cycles – Tous droits réservés.</p>
    </div>
    <div class="pure-g">
        <p class="footer-text">Photos et vidéos : Mathieu DEUMIÉ</p>
    </div>
</div>