<div class="pure-g text-center menu">
    <div class="pure-u-1-5">
        <p><a routerLink="/accueil">Accueil</a></p>
    </div>
    <div class="pure-u-1-5">
        <p><a routerLink="/le-sur-mesure">Le sur mesure</a></p>
    </div>
    <div class="pure-u-1-5">
        <p><a routerLink="/creations">Créations</a></p>
    </div>
    <div class="pure-u-1-5">
        <p><a routerLink="/a-propos">À propos</a></p>
    </div>
    <div class="pure-u-1-5">
        <p><a routerLink="/contact">Contact</a></p>
    </div>
</div>