<div class="pure-g">
    <div class="pure-u-3-24">
        <p></p>
    </div>
    <div class="pure-u-18-24 home-central-body">
        <div class="pure-g">
            <img src="../../assets/logo-horizontal-4mm-blanc.png" class="deum-logo-central">
        </div>
        <div class="pure-g text-center">
            <p class="subtitle">Fabrication de cadres de vélos sur mesure et artisanale en acier et inox à Nantes.</p>
            <p class="subtitle">Gravel, course, vélotaff ou randonneuse, tout commence par une première discussion...
            </p>
        </div>
    </div>
    <div class="pure-u-3-24">
        <p></p>
    </div>
</div>